<!doctype html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="icon" href="public/favicon.ico"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app" style="height: 100%"></div>
  <script src="public/vendor.bundle.js"></script>
  <script src="public/app.bundle.js"></script>
</body>
</html>
