#about {

  color:black;
  background: url('../../../images/weather.png') top left repeat;

  img {
    width: 350px;
    height: 350px;
  }

  h3 {
    margin-bottom: 0;
    i.fa{
      font-size: 32px;
      margin-right: 20px;
    }
  }

  h4 {
    padding: 0 40px;
  }
}
