@font-face {
    font-family: 'peace-sans';
    src: url('peace-sans/Peace Sans Webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas';
    src: url('bebas/bebas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
